header{
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
}

header h1{
  margin: 0;
  font-size: 4rem;
  color:  #434343;
}

header p{
  font-weight: 700;
  font-size: 1.25rem;
  color:  #999999;
  margin-bottom: 30px;
  color: #FFBD11;
}

header a {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    font-weight: 700;
    background-color: #0d0d0d;
    border-color: #1d809f;
    color: #FFBD11;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: .25rem;
    display: inline-block;
}
